

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #C37FE3, #8E83D6);
}
main{
    background-color: white;
    border-radius: 7%;
    box-shadow: 5px 5px 15px #666186ab;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;
}
h1{
    color: #8593ED;
    text-shadow: 1px 1px 2px #485083a1;
    text-align: center;
    
}
h2{
    color: #7FA7E3;
}